@import './styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  .header-wrapper {
    height: 70px;
    padding: 0 3rem;
    background-color: rgb(24, 0, 112);
    box-shadow: 0 0 5px 1px rgb(24, 0, 112);
    position: sticky;
    top: 0;
    z-index: 1;

    .logo {
      cursor: pointer;

      .brand_name {
        font-size: 20px;
        font-weight: 600;
        color: white;
      }
    }

    .cart-icon {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 2rem;

      .nav-item {
        text-decoration: none;
        color: white;
      }

      .icon {
        z-index: 1;
      }

      .cart_value {
        width: 18px;
        height: 18px;
        color: white;
        font-size: 12px;
        background-color: rgb(24, 141, 24);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8%;
        right: 18%;
        z-index: 0;
        animation: cartBubble 2000ms ease infinite;

        @keyframes cartBubble {
          0% {
            top: 8%;
          }

          50% {
            top: 18%;
          }

          100% {
            top: 8%;
          }
        }
      }
    }
  }

  .product-wrapper {
    height: auto;
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.2rem;
    width: 75%;
    margin: auto;

    @include sm {
      width: 88%;
    }
    

    .card-wrapper {
      box-shadow: 0 0 5px 0 #c9c7c7;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 200ms ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px 2px #a7a6a6;
      }

      .card-title,
      .card-description,
      .card-img,
      .card-bottom {
        padding: 0.5rem 0;
        text-align: center;
      }

      .card-title {
        font-size: 16px;
        font-weight: 700;
      }

      .card-description {
        font-size: 14px;
      }

      .card-bottom {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .price {
          font-weight: 600;
          color: green;
        }

        .btn {
          border: 1px solid green;
          color: green;
          font-size: 14px;

          &:hover {
            background-color: green;
            color: white;
          }
        }
      }
    }
  }

  .cart_wrapper {
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
    width: 75%;
    margin: auto;

    @include sm {
      width: 88%;
    }

    @include sm {
      flex-direction: column-reverse;
    }

    .cart-cards {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @include sm {
        width: 100%;
      }

      .cart-card-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
        box-shadow: 0 0 10px 1px rgb(187, 187, 187);
        border-radius: 10px;
        padding: 1rem;

        @include sm {
          flex-direction: column;
        }

        .description-section {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .card-title {
            font-weight: 600;
          }

          .card-description {
            font-size: 14px;
          }

          .card-price-section {
            display: flex;
            justify-content: space-between;

            .price {
              font-weight: 600;
              color: rgb(1, 170, 1);
            }

            .delete {
              cursor: pointer;
            }
          }
        }
      }
    }

    .cart-summary {
      width: 40%;
      box-shadow: 0 0 10px 1px rgb(187, 187, 187);
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include sm {
        width: 100%;
      }

      .top-summary-section {
        .cart-heading {
          font-size: 1rem;
          font-weight: 600;
        }

        .summary-heading {
          font-size: 2rem;
          color: green;
          font-weight: bold;
        }

        .summary-total-items {
          font-weight: 600;
        }
      }

      .bottom-summary-section {
        .summary-total-amount {
          font-weight: 600;
        }

        .summary-checkout-btn {
          button {
            width: 100%;
            border: 1px solid green;
            font-weight: bold;
            color: green;
            background-color: rgb(240, 239, 239);
          }
        }
      }
    }
  }

  .cart_empty_wrapper {
    min-height: 85vh;

    .cart-empty-heading {
      font-size: 1.5rem;
      font-weight: 600;
    }

    button {
      background-color: green;
      color: white;
    }
  }
}
